:root {
        --dark: rgb(34, 34, 34);
        --light:rgb(230, 100, 0);
        --hover: rgba(0, 0, 0, 0.24);
}

* {
      font-family: 'Lato', sans-serif;
        
      scroll-behavior: smooth;
}
body {
        background-color:var(--dark);
}

h1, h2, h3, h4, h5, h6, p {
        color: var(--light);
        text-align: center;
}
nav {
        background-color: var(--dark);
        border-bottom: 5px solid var(--hover);
        
}

.nav-link {
        color: white;
}

.nav-link:hover{
        color: rgb(201, 201, 201);
}

.header {
        height: 35vh;
        background-color: var(--dark);
        text-align: center;
        justify-content: center;
        /* background-image: url(/assets/img/ak.png);
        background-repeat: no-repeat;
        background-size: 800px;
        background-position: bottom;  */
}

.card {
        text-align: center;
        padding: 50px;
        background-color: var(--dark);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 10px;
        
}

.btn-primaryAK {
        background-color: var(--dark);
        color: var(--light);
        border: 5px solid var(--light);
        padding: 100px 50px 100px 50px;
        width: 80%; 
        font-size: x-large;
        text-align: center;
        word-break: inherit;
}

.btn-primaryAK:hover {
        background-color: var(--hover);
        border: 5px solid var(--light);
        color: white;
}

.btn-primaryAK:active {
        border: 5px solid var(--light);
}

#resume{
        height: 100vh;
        
}

.tab-content{
        color: var(--light);
}

img {
        width: 100%;
        
}

li {
        list-style: none;
        text-align: center;
}


.jobDescription {
        line-height: 1em;
        margin-top: 25px;
        font-weight: 400;
}

.resumeTitle {
        margin-top: 25px;
        padding-top: 10px;
        border-top: 1px solid var(--light);
        color: white;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
}

.position {
        font-style: italic;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
}

.sectionTitle {
        color: white;
        font-weight: 500;
        letter-spacing: 2px;
        font-family: 'Roboto', sans-serif;
}

.pillAK {
        background-color: var(--dark);
}

#contact {
        margin-top: 50px
}

i {
        color: white;
        /* font-size: 20px; */
        margin: 15px;
}

i:hover{
        color: var(--light);
}
#contactContent {
        text-align: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        background-color: var(--dark);
        border: 2px solid var(--light);
}


.nav-link:focus, .nav-link:hover {
    background-color: var(--hover);
    color: white;
}

.TitleText {
        color: white;
        margin: 45px;
        padding: 25px;
        border-bottom: 3px solid white;
        letter-spacing: 3px;
}

.columns2 {
        column-count: 2;
}

.socialBar {
       text-align: center;
}

a:hover {
        text-decoration: none;
        color: white;
}



.typewriter {
        font-size: x-large;
        font-family: 'Roboto Mono', monospace;
        font-weight: 300;
}
span {
        font-size: x-large;
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
}